.pagination {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 75px;
    position: relative;
    width: 90%;
    max-width: 1200px;
    user-select: none;
}

.item {
    height: 45px;
    width: 45px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 50%;
    margin: 0 5px;
    transition: transform 0.2s;
}

.item:hover {
    transform: scale(1.05);
}

.active {
    border: solid 1px var(--primary-color);
    border-radius: 50%;
    transform: scale(1.05);
    font-size: 20px;
    background-color: var(--primary-color);
}

.nextArrow,
.previousArrow {
    border: 1px solid var(--primary-color);
    position: absolute;
    height: 45px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.nextArrow {
    right: 0;
}

.previousArrow {
    left: 0;
}

@media (max-width: 768px) {
    .pagination {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }

    .item {
        margin: 5px 0;
        width: 100%;
    }

    .nextArrow,
    .previousArrow {
        position: static;
        width: 100%;
        margin: 5px 0;
    }
}

@media (max-width: 640px) {
    .pagination {
        margin-top: 3rem;
    }

    .item {
        height: 35px;
        width: 35px;
        font-size: 18px;
    }
}

@media (max-width: 1280px) {
    .pagination {
        margin-top: 6rem;
    }

    .item {
        height: 55px;
        width: 55px;
        font-size: 24px;
    }
}

@media (max-width: 320px) {
    .pagination {
        margin-top: 2rem;
    }

    .item {
        height: 30px;
        width: 30px;
        font-size: 16px;
    }
}
