.container {
  padding: 5rem 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #2c3e50, #8e44ad);
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}

.titles > h5 {
  font-size: 22px;
  color: #efefef;
}

.titles > h2 {
  font-size: 32px;
  color: #efefef;
}

.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

/* Media Queries */

@media (max-width: 768px) {
  .titles > h5 {
      font-size: 18px;
  }

  .titles > h2 {
      font-size: 28px;
  }
}

@media (max-width: 640px) {
  .titles > h5 {
      font-size: 16px;
  }

  .titles > h2 {
      font-size: 26px;
  }

  .books {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
  }
}

@media (max-width: 320px) {
  .titles > h5 {
      font-size: 14px;
  }

  .titles > h2 {
      font-size: 24px;
  }

  .books {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
  }
}


@media (max-width: 400px) {

  .titles > h5 {
    font-size: 10px;
}

.titles > h2 {
    font-size: 24px;
}

.books {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}
}