/* bookCard.module.css */

.container {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #333;
    text-align: center; /* Center the content */
  }
  
  .wrapper {
    position: relative;
    overflow: hidden;
    width: 175px;
    height: 275px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #aacc12 0%, #ffc609 100%); /* Gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .wrapper img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
  }
  